*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
html,body{
    font-family: 'Oswald', sans-serif;
    
}

.section{
    padding: 50px 0;
}

.header__content li{
    display: inline;
    list-style: none;
}

.title p:first-of-type{
    color: red;
}
.title h2{
    color: white;
}
.title p:last-of-type{
    color: #888;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.title--black h2{
    color: black;
}
.title--black p:first-of-type{
    color: #888;
}



/* logo 2rem */
/* font-size 17px */

/* các thẻ được gắn position thì trình duyệt quy định thẻ nào sinh ra sau sẽ có index lớn hơn thẻ sinh ra trước đó
index lớn sẽ nằm đè lên index nhỏ */
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid white;
}
.header__content a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
   
}
.header__content li{
    margin: 10px;

}
.header__content{
    
    margin: auto;
    width: 70%;
    padding: 20px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__content .header__logo{
    font-size: 32px;
    text-transform: lowercase
    ;
}

/* Carousel */
.carousel{
    background-image: url(../image-video/home_slider.jpg);
    height:700px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    /* căn giữa với flex , 1 thẻ con 
        cả 2 chiều ngang và dọc*/
    display: flex;
    justify-content: center;
    align-items: center;
   

}

/* trước hover (chưa di chuyển chuột vào) */
.carousel button{
    padding: 10px;
    background-color: red;
    border: 1px solid red;
    color: white;   
    cursor: pointer;

    transition: all 0.5s;
}
/* sau hover ( di chuyển chuột vào) */
.carousel button:hover{
    background-color: brown;

}


.carousel__icon{
    font-size: 2rem;

    animation: upToDown 1s linear 0s infinite ;
    
}

/* blog */

.blog__content{
    
    display: grid;
    /* chỉ cần khai báo cột khi cac hàng có kích thước bằng nhau  */
    /* khai báo hàng nếu các hàng có kích thước khác nhau */
    grid-template-columns: repeat(4,1fr);

    width: 75%;
    margin: 50px auto;

    /* thêm khoảng cách giữa các item(thẻ con) của grid */
    gap: 30px;
}
.blog__item1{

    /* đường bắt đầu / span  số cột cần chiếm  */
    /* grid-column : 1 / 3 ( đường bắt đầu/ đường kết thúc) */
    grid-column: 1 / span 2 ;
    
    grid-row: 1 / span 2;
}

.blog__item10{
    /* đường bắt đầu / span  số cột cần chiếm  */
    grid-column: 3 / span 2 ;
    grid-row: 3 / span 2;
}

/* B1: chỉnh hình vừa với kích thước thẻ cha
B2: thêm khoảng cách cho các thẻ cha 
*/
.blog__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%) contrast(50%);
   
}

/* issue: ảnh sản phẩm bị kéo dãn theo khung của thẻ cha 
    solution: 
    C1: bg-image
    background-size: cover

    C2: img
    object-fit: cover;
    
    khi nào dùng bg hoặc img
    + bg: phạm vi xử dụng lớn, làm đẹp trang web , ko cần SEO
    + img: ảnh cần SEO (alt), phạm vi kích thước nhỏ, các ảnh được lưu ở BE

    */


.blog__item{
    position: relative;
    /* che đi phần nội dung con tràn ra khỏi border của thẻ cha  */
    overflow: hidden;
}
/* chưa hover */

.blog__overplay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    opacity: 0;
}
/* đã hover */
.blog__item:hover .blog__overplay{
    opacity: 1;
    transition: all 0.5s;
}

/* chưa hover */
.blog__icon{
    position: absolute;
    top:25px;
    transform: translateY(25px);
    right: 25px;
}

/* đã hover */
/* thẻ cha được nhận chuột, thẻ con thay đổi */
.blog__item:hover .blog__icon{
    transform: translateY(0);
    transition: all 0.5s;

}

/* chưa hover */
.blog__text{
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
    transform: translateY(25px);
}
/* đã hover */
.blog__item:hover .blog__text{
    transform: translateY(0);
    transition: all 0.5s;
}


.blog__overplay i{
    background-color: white;
    padding: 10px;
    
    color: black;
}
.blog__text p{
    color: rgb(208, 199, 200);
}

/* NUMber */
.number{
    background-color: black;
    color: white;
}
.number__content{
    width: 70%;
    padding: 30px 0px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-size: 20px;
}
.number__content span{
    font-size: 60px;
    
}
.number__item{
    width: 25%;
}

/* EXP */
.exp{
    background-image: url(../image-video/bussiness_img_1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.exp__content{
    width: 75%;
    margin: auto;
}
.exp__content video{
    width: 100%;
}
/* .exp__content iframe{
    width: 100%;
    height: 550px;
    border: 10px solid navy;
    border-radius: 25px;
}
 */

/* Contact */
.contact__content{
    width: 80%;
    margin: auto;
    display: flex;
     
}
.contact__map{
    width: 60%;
}
.contact__map iframe{
    width: 100%;
}
.contact__form{
    width: 40%;
}

.contact__form form{
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px 20px;
}
.contact__form input,.contact__form button,.contact__form textarea{
    padding: 1em;
    border-radius: 5px;
}

/* focus */
.contact__form input{
    border: 1px solid black;
    transition: all .5s;
}
.contact__form input:focus{
    outline: none;
    border: 1px solid red;
    box-shadow: 12px 12px 5px  0px purple;
}

.contact__form textarea:focus{
    outline: none;
    border: 1px solid red;
}

/* Service */
.service{
    background-color: black;
    color: gray;
}
.service__content{
    width: 80%;
    margin: auto;
}
.service__item{
    position: relative;
    width: 214px;
    height: 230px;
    text-align: center;
    background-color: white;
    /* color: gray; */
    margin: 0px 10px;
    
}
.service__content .slick-dots li button:before{
    font-size: 15px;
    color: white;
}    
slick-dots li.slick-active button::before{
    color: hotpink;
}    

/* trước hover */
.service__item::before{
    /* before, after là inline => không xét được kích thước => đổi thành block để xét kích thước  */
    content: '';
    height: 0%;
    width: 5px;
    background-color:  red;
    display: block;
    
    position: absolute;
    right: 0px;
    

}    
/* sau hover */
.service__item:hover::before{
    height: 100%;
    transition: .25s;
}    

.service__content .service__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* back to Top */
.backToTop{
    width: 60px;
    height: 60px;
    background-color: #e62b4a;
    color: white;
    display: block;
    text-align: center;
    line-height: 60px;

    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 50;

    opacity: 0;
    /* ĐỂ DÙNG ĐƯỢC transtion thì phải là giá trị tính toán */
    /* VISIBILITY: HIDDEN; NGĂN THAO TÁC BẰNG PHÍM CỦA NGƯỜI DÙNG */
    visibility: hidden;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  









/* Keyframe */
/* keyframes : khai báo trạng thái chuyển động của 1 chu kì */
@keyframes upToDown{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(30px);
        opacity: 0;
    }
}
/* 0%->100% */
/* @keyframes upToDownrotate{
    0%{
        transform: translateY(0) rotate(0deg); 
        
    }
    25%{
        transform: translateY(5px) rotate(180deg);
    }
    100%{
        transform: translateY(30px) rotate(360deg);
        
    }
} */

/* @keyframes upToDownZoom{
    0%{
        transform: translateY(0) scale(1); 
        
    }
    50%{
        transform: translateY(15px) scale(2) ;
    }
    100%{
        transform: translateY(30px) scale(1) ;
        
    }
} */


